body{
    display: flex;
    align-items: center;
    justify-content:center ;
    min-height: 100vh;
}
.wrapper{
    width:380px;
    border-right: 15px;
    padding:25px 30px;
    background:white ;
    box-shadow: 0px 6px 15px #2d2d2d;
}
.wrapper i{
    cursor: pointer;
}
.top-bar{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.top-bar i{
    font-size:30px;
    color: #242222;
}
.top-bar span{
    font-size: 18px;
    color:#242222;
}
.image-area{
margin-top: 25px;
    width:380px;
    height:236px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 6px 12px #c9c2c2
}
.image-area img{
    height:100%;
    width:100%;
    object-fit: cover;
}

 .name{
    font-size:21px;
     text-align: center;

}
.artist{
    text-align: center;
    opacity: 0.9;
    font-size:18px;
}

.progress-area{
    height:6px;
    width:100%;
    background:red ;
    border-radius: 50px;
    cursor:pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width:50%;
    border-radius: inherit;
    background: #0404f0;
}


